{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Main page</a>
    </nav>
</header>
<main>
    <h1>Create</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>

</main>
{% endblock content %}
