{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>
<body>

    <header>
    <nav>
        <a href="{% url 'home' %}">Main page</a>
        <a href = "{% url 'signup' %}">Sign Up</a>
    </nav>
    </header>
    <main>
    <h1>Login!</h1>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>

    </main>
</body>
</html>
