{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>
<body>
    <header>
        <nav>
            <li>
                {% if user.is_authenticated%}
                    Hello, {{user.username}}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_receipt' %}" >New Receipt</a>
                    <a href="{% url 'create_category' %}" >New Category</a>
                    <a href="{% url 'create_account' %}" >New Account</a>
                    <a href="{% url 'category_list' %}" >Category List</a>
                    <a href="{% url 'account_list' %}" >Account List</a>
                {%else%}
                    <a href="{% url 'login' %}" >Login</a>
                {%endif%}
            </li>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thread>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thread>
            <tbody>
                {% for receipt in receipt_list%}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"n/j/y" }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </main>
    <footer>
    </footer>
</body>
</html>
